# these are ignored.
./csv_files/
./ey_timestep/
./hz_timestep/
./build/
./graph/
./mp4/
./ey_pngs/
./hz_pngs/
./myenv/
./matplotlib-cpp/
./pngs/

git_init.py

*.png
*.mp4
*.txt
*.json
*.csv

.gitignore

# not ignore.
!CMakeLists.txt
